doctype 5
html
  head
    title 内啥

    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')

    link(rel='stylesheet', href='//cdn.staticfile.org/twitter-bootstrap/3.0.3/css/bootstrap.min.css')
    link(rel='stylesheet', href='/static/css/flat-ui.css')

    link(rel='stylesheet', href='/assets/css/general.css')
    link(rel='stylesheet', href='/assets/css/index.css')

    script(src='//cdn.staticfile.org/seajs/2.1.1/sea.js')
    script.
      seajs.config({
        base: '/assets/js/'
      , alias: {
          'jquery': '//cdn.staticfile.org/jquery/2.0.3/jquery.min.js'
        , 'ember': '//cdn.staticfile.org/ember.js/1.3.0-beta.2/ember.js'
        , 'handlebars': '//cdn.staticfile.org/handlebars.js/1.1.2/handlebars.js'
        }
      , preload: [ 'jquery', 'ember', 'handlebars' ]
      })

      seajs.use('app')

    //-script(src='//cdn.staticfile.org/jquery/2.0.3/jquery.min.js')
    //-script(src='//cdn.staticfile.org/handlebars.js/1.1.2/handlebars.js')
    //-script(src='//cdn.staticfile.org/ember.js/1.3.0-beta.2/ember.js')
    //-script(src='//cdn.staticfile.org/lodash.js/2.4.1/lodash.min.js')
    //-script(src='//cdn.staticfile.org/eventproxy/0.2.5/eventproxy.min.js')

    //-script(src='/assets/js/index.js')

  body
    script(type='text/x-handlebars', data-template-name='application')
      h1 Hahahahaha
      {{outlet}}

    script(type='text/x-handlebars', data-template-name='contributors').
      {{#each person in controller}}
        {{person.login}}
      {{/each}}
