* {
  border-radius: 0 !important;
}

.navbar {
  padding: 0 20px;
  margin: 0;
}

.brand {
  color: #fff;
  line-height: 50px;
  margin: 0;
}

.logged {
  color: #ccc;
  font-size: 75%;
  line-height: 50px;
  margin: 0;
}
