
h2 {
  font-size 120%
  font-weight normal
  color #fff
  padding 10px 20px
  margin 0
}

#availables {
  position absolute
  left 0
  top 50px
  width 200px
  bottom 0
  overflow-y scroll
  list-style none
  margin 0
  padding 0

  > li.not-met > strong {
    text-decoration line-through
    color rgba(255, 255, 255, 0.2)
  }

  &.hide-not-met > li.not-met {
    display none
  }

  > li.all-conflit > strong {
    text-decoration line-through
    color rgba(255, 255, 255, 0.2)
  }

  &.hide-all-conflit > li.all-conflit {
    display none
  }
}

#availables > li {
  display block
  color #fff
  margin 0
  overflow hidden
  line-height 40px
  height 40px

  &.expanded {
    height auto
  }

  &:hover > strong {
    background rgba(255, 255, 255, 0.1)
  }

  > strong {
    display block
    font-weight normal
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    padding 0 20px
    cursor pointer
    transition background 500ms
  }

  > strong > p {
    font-weight normal
    font-size inherit
    margin 0
    color rgba(255, 255, 255, 0.75)
  }

  > ul {
    padding 0
    margin 0
    background rgba(0, 0, 0, 0.1)
    list-style none

    > li {
      display block
      padding 0 10px 0 30px
      cursor pointer
      transition background 500ms

      &:hover {
        background rgba(255, 255, 255, 0.1)
      }

      > ul {
        padding 0
        margin 0
        list-style none

        > li {
          display block
          padding 0 0 0 10px
        }
      }
    }
  }

  .fui-heart,
  .fui-lock {
    color rgba(0, 0, 0, 0.1)
    float right
    cursor pointer
    transition color 300ms
    margin-right 10px

    &:hover {
      color rgba(0, 0, 0, 0.4)
    }
    &:active {
      color #fff
    }
  }

  li {
    color rgba(255, 255, 255, 0.75)
    transition color 300ms

    &:hover {
      color rgba(255, 255, 255, 1.0)
    }

    &.conflit {
      text-decoration line-through
      color rgba(0, 0, 0, 0.50)
    }
  }
}

#schedule {
  position absolute
  left 200px
  top 50px
  right 0
  bottom 0
  color #000
  font-size 90%
  overflow-y scroll
}

#schedule table {
  width 100%
  table-layout fixed
}

#schedule th {
  text-align center
  padding 5px
  border 1px solid #eee
  font-weight normal
  vertical-align top
  white-space nowrap
  overflow hidden
}

#schedule tr:nth-child(even) {
  background #fcfdff
}

#schedule tr:nth-child(odd) {
  background #fff
}

#schedule td {
  border 1px solid #eee
  vertical-align top
}

#schedule h3 {
  font-size inherit
}

#schedule p {
  font-size inherit
}

#schedule ul {
  list-style none
  margin 0
  padding 0
}

@-webkit-keyframes pending {
  0%   { color rgba(0, 0, 0, 0.10) }
  50%  { color rgba(0, 0, 0, 0.75) }
  100% { color rgba(0, 0, 0, 0.10) }
}

#schedule ul li {
  display block
  margin 0
  padding 0
  height 40px

  &[data-pending] {
    -webkit-animation pending linear 1s infinite
  }
}

#schedule ul li h3 {
  margin 0
  position relative
  z-index 1
  line-height 20px
  height 20px
  padding 0 5px
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
}

#schedule ul li .details {
  margin 0
  position relative
  z-index 1
  line-height 20px
  height 20px
  padding 0 5px
  white-space nowrap
  overflow hidden
  text-overflow ellipsis
}

#schedule ul li .details span {
  margin-right 1em
}

#schedule ul li .graph {
  white-space nowrap
  font-size 0
  margin 0
  position relative
  top -40px
  height 40px
}

#schedule ul li .graph i {
  display inline-block
  height 100%
  width 5%
  background rgba(255, 255, 255, 0.9)
}

#schedule ul li .graph i.y {
  background rgba(255, 255, 255, 0.7)
}
